<div class="tbl">
  <table class="table">
     <thead class="thead-light">
    <tr>
      <th scope="col">Task NAme</th>
      <th scope="col">Status Id</th>
      <th scope="col">Category Id</th>
      <th scope="col">Priority Id</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of taskData">
      <td> {{task.taskName}} <br><p> {{task.description}} </p></td>
      <td>{{task.statusId}}</td>
      <td>{{task.categoryId}}</td>
      <td>{{task.priorityId}}</td>
    </tr>
    </tbody>
  </table>
</div>
