.all-task {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 500px;
}
th.mat-header-cell {
  text-align: left;
  max-width: 300px;
}
td.mat-cell{
  text-align: left;
  max-width: 300px;
}

.grid-container-two {
    margin: 10px;
  }

  .dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
  }

  .more-button {
    position: absolute;
    top: 5px;
    right: 10px;
  }

  .dashboard-card-content {
    text-align: center;
  }
  /* :host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  } */
.delete-task{
  background-color:darkcyan;
}

.tbl{
  width: 97%;
  margin-left: 22px;
}
th,td{
  text-align: center;
  vertical-align: middle;
}
p{
  font-size: 12px;
}

