<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="150px">
    <mat-grid-tile colspan="2" rowspan="1" class="tile-one">
      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content">
          <div>
            <mat-grid-list cols="4" rowHeight="90px">

              <mat-grid-tile colspan="1" rowspan="1" class="tile-b">
                <a class="btn" (click)="loadTask('')">
                  <span><mat-icon>all_out</mat-icon></span><br>
                <span>All Tasks</span>
              </a>
              </mat-grid-tile>

              <mat-grid-tile colspan="1" rowspan="1" class="tile-c">
                <a class="btn" (click)="loadTask('Pending')">
                  <span><mat-icon>restore</mat-icon></span><br>
                <span>Pending Tasks</span>
              </a>
              </mat-grid-tile>

              <mat-grid-tile colspan="1" rowspan="1" class="tile-d">
                <a class="btn" (click)="loadTask('Completed')">
                  <span><mat-icon>verified_user</mat-icon></span><br>
                <span>Completed Tasks</span>
              </a>
              </mat-grid-tile>

              <mat-grid-tile colspan="1" rowspan="1" class="tile-a">
                <a class="btn" (click)="loadAddTaskComponent()">
                  <span><mat-icon>note_add</mat-icon></span><br>
                <span>New Task</span>
              </a>
              </mat-grid-tile>
            </mat-grid-list>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div  *ngIf="!inTaskView">
  <app-add-new-task></app-add-new-task>
</div>

<div class="tbl" *ngIf="inTaskView">
  <table class="table" >
     <thead class="thead-light">
       <tr>
         <th scope="col">Task Name</th>
         <th scope="col">Status</th>
         <th scope="col">Category</th>
         <th scope="col">Priority</th>
         <th scope="col">Actions</th>
       </tr>
     </thead>
     <tbody>
      <tr  *ngFor="let task of taskList; let index=index">
         <td> {{task.task_Name}} <br><p> {{task.description}} </p></td>
         <td> <div [ngStyle]="{'color': task.status_Color }">{{task.status_Name}}</div> </td>
         <td> <div >{{task.category_Name}} </div></td>
         <td> <div [ngStyle]="{'color': task.priority_Color}"> {{task.priority_Name}} </div></td>
         <td>
          <button class="btn btn-outline-success" data-toggle="tooltip" data-placement="bottom" title="View Subtasks" (click)="listSubtask(task);"><mat-icon>remove_red_eye</mat-icon></button>
          <button class="btn btn-outline-secondary" data-toggle="tooltip" data-placement="bottom" title="Edit" (click)="setEditValues(task, index)"><mat-icon>edit</mat-icon></button>
          <button class="btn btn-outline-danger" data-toggle="tooltip" data-placement="bottom" title="Delete" (click)="setDeleteValues(task.task_Id, task.task_Name, index)"><mat-icon>delete</mat-icon></button>
        </td>
         <!-- <td> <button class="btn btn-outline-success"  (click)="listSubtask(task);"> View </button></td>
         <td> <button class="btn btn-outline-primary"  (click)="setEditValues(task, index)"> Edit </button></td>
         <td> <button class="btn btn-outline-danger" (click)="setDeleteValues(task.task_Id, task.task_Name, index)"> Delete </button></td> -->
       </tr>
     </tbody>
   </table>
 </div>

<!-- deleteModal -->

 <div class="modal" tabindex="-1" id="deleteModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete  {{taskName}} ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="deleteTask()">Delete</button>
      </div>
    </div>
  </div>
</div>

<!-- editModal -->

 <div class="modal fade cd-example-modal-lg" id="editTaskModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
         <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel" style="align-content: center; font-size:x-large; padding-left: 5%;">Edit Task - {{editTask.task_Name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Sprint</label>
                    <select id="ssd" class="form-control" [(ngModel)]="editTask.sprint_Id" name='id'>
                      <option *ngFor="let sprint of sprintData" [value]="sprint.sprintId">{{sprint.sprintName}}</option>
                      </select>
                  </div>
                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Status</label>
                    <select id="ssd" class="form-control" [(ngModel)]="editTask.status_Id" name="status">
                      <option *ngFor="let status of statusData" required [value]="status.statusId">{{status.statusName}}</option>
                      </select>
                  </div>
                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Category</label>
                    <select id="ssd" class="form-control" [(ngModel)]="editTask.category_Id" name='category'>
                      <option *ngFor="let category of catData" required [value]="category.categoryId">{{category.categoryName}}</option>
                      </select>
                  </div>
                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Priority</label>
                    <select id="ssd" class="form-control"  [(ngModel)]="editTask.priority_Id" name='priority'>
                      <option *ngFor="let priority of priorityList" required [value]="priority.priorityId" >{{priority.priorityName}}</option>
                      </select>
                  </div>
                  <div class="form-group">
                    <label for="message-text" class="col-form-label">Description</label>
                    <input type="text" class="form-control" [(ngModel)]="editTask.description" name='description' id="description">
                  </div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
				<button type="button" class="btn btn-primary" (click)="saveChanges(editTask.task_Id,editTask.sprint_Id,editTask.status_Id,editTask.category_Id,editTask.priority_Id,editTask.description)">Save changes</button>
			</div>
    </form>
  </div>
		</div>
	</div>
</div>








